body{
  background-color: rgb(222, 222, 222);
}
.App{
  display: grid;
}
.App-content{
  background-color: rgba(192, 192, 192, 0.3);
  height: 100%;
  grid-column: 2;

}
.Content{
  display: grid;
  text-indent: 15px;
  grid-template-columns: 1fr 1.75fr 1fr;
}
